<!-- Archives -->
<% if (site.posts.length){ %>
  <h5><a href="<%= config.root %>archives/">
      <%= __('时间分布') %>
    </a></h5>
  <style>
    .archive-list ul{
      margin-left: 0px;
      padding-left: 20px;
      list-style-type: square;
    }
  </style>
  <div class="widget">
    <%- list_archives({show_count: config.show_count, type: config.archive_type}) %>
  </div>
  <% } %>