<!-- Friends Blog -->
<% if(config.friends) { %>
  <h5><a href="<%= config.root %>">
      <%= __('friends') %>
    </a></h5>
  <ul class="widget" style="list-style-type: none; padding-left: 0px;">
    <% config.friends.forEach(function(friend){ %>
      <li><a href="<%= friend.href %>" target="_blank">
          <%= friend.title %>
        </a></li>
      <% }); %>
  </ul>
  <% }%>