<section class="visible-md visible-lg">
  <script src="hls.min.js"></script>
  <script src="APlayer.min.js"></script>
  <h5>
    <%= __('about_me') %>
  </h5>

  <div>
    <ul style="padding-left: 20px; list-style-type: decimal;">
      <li>命里哊时钟需哊，命里无时莫强求。</li>
      <li>我喜欢冬天，因为白昼短暂而黑夜漫长，这样会有更多的时间来逃避。</li>
      <li>人们的自觉行动是受感情支配的。——欧文</li>
      <li>无论情感，表象或欲望，莫不瞬息万变。——柏格森</li>
      <li>感情虽然难以控制，但却是一种强大的动力。——爱默生</li>
    </ul>
  </div>

</section>