<section class="visible-md visible-lg">
  <script src="hls.min.js"></script>
  <script src="APlayer.min.js"></script>
  <h5>
    <%= __('about_me') %>
  </h5>

  <div>
    <ul style="padding-left: 20px; list-style-type: decimal;">
      <li>Read The Fucking Source Code.</li>
      <li>站在'巨人'的肩膀上开始自己的旅途。</li>
      <li>愉快的周末，从打开电脑开始，到骑行归来结束。</li>
      <li>浮生若梦谁非寄，到处能按便是家！</li>
    </ul>
  </div>

</section>